.portfolio p {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.4;
  margin-left: 2rem;
}
h3 {
  font-size: 1.8rem;
  font-weight: 800;
}

.expertise {
  height: 45rem;
  display: flex;
  flex-direction: column;
  margin: 10rem;
  gap: 6rem;
}
.expertise img {
  width: 5.5rem;
  transition: transform 0.5s ease, filter 0.5s ease;
}

.expertise img:hover {
  transform: scale(1.2);
  filter: drop-shadow(0 0 15px rgba(94, 59, 190, 0.2));
}

.skills {
  display: flex;
  justify-content: space-between;
}

.skills-div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 30rem;
  height: 25rem;
  background-color: var(--bg-shade);
  padding: 2rem;
  gap: 3rem;
}

.icon-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.8rem;
  margin: 2rem;
  font-size: 1.8rem;
}

/***************************************** MEDIA QUERIES ****************************************/

/* 4k screens */

@media (max-width: 3840px) {
  .expertise p {
    font-size: 1.8rem;
  }
  h3 {
    font-size: 2.2rem;
  }
  h2 {
    font-size: 4rem;
    margin-bottom: 5rem;
  }
}
.expertise {
  margin: 8rem;
}
.skills {
  gap: 2rem;
  justify-content: space-evenly;
}
.skills-div {
  width: 30rem;
  height: 22.5rem;
  gap: 0.25rem;
}
.icon-heading {
  gap: 0.75rem;
}
.expertise-title {
  font-size: 5rem;
}
@media (max-width: 2560px) {
  .expertise p {
    font-size: 1.8rem;
  }
  h3 {
    font-size: 2.2rem;
  }
  h2 {
    font-size: 3.5rem;
    margin-bottom: 5rem;
  }
}
.expertise {
  margin: 8rem;
}
.skills {
  gap: 2rem;
  justify-content: space-evenly;
}
.skills-div {
  width: 30rem;
  height: 21rem;
  gap: 0.25rem;
}
.icon-heading {
  gap: 0.75rem;
}
.expertise-title {
  font-size: 5rem;
}

/* 2k screens */

@media (max-width: 1920px) {
  .expertise {
    margin: 8rem;
  }
  .skills {
    gap: 2rem;
    justify-content: space-evenly;
  }
  .skills-div {
    width: 27rem;
    height: 20rem;
    gap: 1.5rem;
  }
  .expertise-title {
    font-size: 4rem;
  }
  .expertise-text {
    font-size: 1.5rem;
  }

  .skills p {
    font-size: 1.45rem;
  }
}

/* Laptops */

@media (max-width: 1440px) {
  .expertise p {
    font-size: 1.45rem;
  }
  .expertise {
    margin: 8rem;
  }
  .expertise-title {
    font-size: 3rem;
  }
  .skills {
    gap: 2rem;
    justify-content: space-evenly;
  }
  .skills-div {
    margin: 1rem;
    padding: 1rem;
    width: 22.5rem;
    height: 19.5rem;
  }
  .icon-heading {
    gap: 0.75rem;
  }
}

/*  small Laptops */
@media (max-width: 1024px) {
  .expertise p {
    font-size: 1.25rem;
  }
  h3 {
    font-size: 1.4rem;
  }
  .expertise {
    margin: 5rem;
  }
  .expertise-title {
    font-size: 2.5rem;
  }
  .skills {
    width: 100%;
    overflow-x: hidden;
    justify-content: space-between;
    display: flex;
    gap: 5rem;
  }
  .icon-heading {
    gap: 0.5rem;
    margin: 1rem;
    margin-bottom: 2rem;
  }
  .skills-div {
    width: 25rem;
    height: 17.5rem;
    overflow: hidden;
    gap: 0.75rem;
  }
  .expertise img {
    width: 4.5rem;
  }
}

/* Tablets */
@media (max-width: 768px) {
  .expertise {
    height: 65rem;
    width: 100%;
    margin: 0;
  }
  .skills-div {
    width: 25rem;
    height: 17rem;
    overflow: hidden;
    gap: 0.75rem;
  }
  .skills {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columns for small screens */
    overflow-y: hidden;
    justify-items: center;
    gap: 2rem 0;
    width: 100%;
  }
  .skills-title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    font-size: 3.2rem;
  }
  .expertise-title {
    margin: 2.5rem;
    font-size: 2rem;
  }
}

/* Mobile devices */
@media (max-width: 480px) {
  .skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
  }
  .skills-div {
    width: 75%;
    height: 100%;
    padding: 1.5rem;
    margin: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0;
  }
  .skills-div p {
    text-align: center;
  }
  .icon-heading {
    width: 12.5rem;
  }
  .skills-title {
    margin-top: 3rem;
  }

  .portfolio h3 {
    font-size: 1.25rem;
    text-align: center;
  }

  .portfolio p {
    margin-left: 1.5rem;
  }
}
/* Mobile devices */

/* mobile devices */

@media (max-width: 440px) {
  .expertise {
    height: 62rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
  .skills-div {
    width: 100%;
    height: 12em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .skills-div p {
    text-align: center;
  }
  .expertise-title {
    margin-top: 4rem;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
  }
  .skills-title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    font-size: 2.4rem;
  }
  .js-logo {
    margin-left: 2.25rem;
  }

  .expertise h3 {
    margin: 1.5rem;
    display: flex;
    flex-wrap: nowrap;
    font-size: 1.3rem !important;
  }
}
@media (max-width: 390px) {
  .expertise {
    height: 61rem;
  }
  .skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
  .expertise-title {
    margin-top: 4rem;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
  }
  .skills-div {
    width: 100%;
    height: 12em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .skills-div p {
    text-align: center;
  }
  .skills-title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    font-size: 2.4rem;
  }
  .expertise p,
  h3 {
    font-size: 1.2rem;
    text-align: center;
  }
}

/* mobile devices */
