.skills-title {
  margin-left: 2rem;
}
.about-me {
  height: 40rem;
  display: flex;
  gap: 3rem;
  margin: 0 4rem 4rem;
}
.about-me-title {
  font-size: 4rem;
  margin-left: 3rem;
}
.about-me p {
  margin-top: 5rem;
  font-size: 1.75rem;
  line-height: 1.6;
}
.image2 {
  transition: transform 0.75s ease;
}
.image2:hover {
  transform: scale(1.025);
}

@media (min-width: 3500px) {
  .about-me {
    flex-direction: row;
    height: auto;
    align-items: center;
    gap: 10rem;
    margin-left: 9rem;
  }
  .image2 {
    width: 50rem;
  }
  .about-me p {
    margin-top: 0;
    font-size: 2.5rem;
  }
  .about-me-title {
    font-size: 5rem;
  }
}

@media (max-width: 2560px) {
  .image2 {
    margin-bottom: 1rem;
  }
  .about-me {
    margin: 7rem;
  }
  .about-me p {
    margin-left: 5rem;
    font-size: 2.25rem;
  }
  .about-me-title {
    font-size: 5rem;
  }
}
@media (max-width: 1920px) {
  .about-me {
    flex-direction: row;
    height: auto;
    align-items: center;
  }
  .about-me p {
    margin-top: 3rem;
    font-size: 2rem;
  }
  .image2 {
    width: 27rem;
    margin-top: 1rem;
    margin-right: 2rem;
  }
  .about-me-title {
    font-size: 4rem;
  }
}

@media (max-width: 1440px) {
  .about-me-title {
    font-size: 3rem;
  }
  .about-me p {
    font-size: 1.8rem;
  }
}

@media (max-width: 1024px) {
  .about-me {
    flex-direction: row;
    height: auto;
    align-items: center;
    margin-left: 1.25rem;
  }
  .image2 {
    margin-top: 3rem;
    margin-left: 1rem;
    width: 28rem;
  }
  .about-me-title {
    font-size: 2.5rem;
    margin-left: 6rem;
  }
  .about-me p {
    font-size: 1.65rem;
  }
}
@media (max-width: 768px) {
  .about-me {
    flex-direction: row;
    height: auto;
    align-items: center;
  }
  .image2 {
    width: 28rem;
  }
  .about-me-title {
    font-size: 2rem;
  }
  .about-me p {
    font-size: 1.5rem;
  }
}
@media (max-width: 480px) {
  .about-me-title {
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0rem;
    margin-top: 3rem;
  }
  .about-me {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    margin: 0 2rem 0 2rem;
  }
  .about-me p {
    font-size: 1.3rem;
    margin: 0;
    margin-top: 3rem;
    margin-left: 2rem;
    margin-right: 2rem;
    text-align: justify;
  }
}
@media (max-width: 440px) {
  .image2 {
    width: 17rem;
    margin-bottom: 3rem;
  }
  .about-me-title {
    margin-left: 0;
  }
}

@media (max-width: 395px) {
  .about-me {
    margin: 0 2.5rem 2.5rem;
  }
  .image2 {
    width: 18rem;
  }
  .about me p {
    font-size: 1rem;
  }
}
@media (max-width: 360px) {
  .about-me {
    margin: 0 2rem 2rem;
  }
  .image2 {
    width: 15rem;
  }
  .about me p {
    font-size: 1rem;
  }
}
